# Python virtual environments
venv/
backend/venv/
ml_venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Node.js
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# Log files
*.log